version: "2.1"
services:
  sonarr:
    image: ghcr.io/linuxserver/sonarr
    container_name: sonarr
    environment:
      - PUID=0
      - PGID=0
      - TZ=Europe/London
      - UMASK_SET=022 #optional
    volumes:
      - /home/pi/synced/sonarr/config:/config
      - /media/wd/videos/usenet/TV Shows:/tv
      - /media/wd/nzbget-downloads/TV:/downloads/TV
    ports:
      - 8989:8989
    restart: unless-stopped
