version: "2.1"
services:
  sonarr:
    image: ghcr.io/linuxserver/sonarr
    container_name: sonarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/London
      - UMASK_SET=022 #optional
    volumes:
      - /home/pi/synced/sonarr/config:/config
      - /media/wd:/data/
    ports:
      - 8989:8989
    restart: unless-stopped
