# Official Nextcloud image:
#nextcloud.{$MY_DOMAIN} {
#    reverse_proxy nextcloud-web:80
#    header Strict-Transport-Security max-age=31536000;
#    redir /.well-known/carddav /remote.php/carddav 301
#    redir /.well-known/caldav /remote.php/caldav 301
#}

# Linuxserver Nextcloud image:
nextcloud.{$MY_DOMAIN} {
    reverse_proxy nextcloud:443 {
        transport http {
                tls_insecure_skip_verify
        }
    }
    header {
        Strict-Transport-Security max-age=31536000;
    }
    redir /.well-known/webfinger /public.php?service=webfinger 301
}

ombi.{$MY_DOMAIN} {
    reverse_proxy ombi:3579
    header Strict-Transport-Security max-age=31536000;
}

#test.{$MY_DOMAIN} {
#    reverse_proxy whoami:80
#}

#another.{$MY_DOMAIN} {
#    reverse_proxy nginx:80
#}