version: "2.1"
services:
  ombi:
    image: ghcr.io/linuxserver/ombi
    container_name: ombi
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/London
      - BASE_URL=/ombi #optional
    volumes:
      - /home/pi/synced/ombi/config:/config
    ports:
      - 3579:3579
    restart: unless-stopped

networks:
  default:
    external:
      name: $DOCKER_MY_NETWORK