version: "2.1"
services:
  heimdall:
    image: linuxserver/heimdall
    container_name: heimdall
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/London
    volumes:
      - /home/pi/synced/heimdall/config:/config
    ports:
      - 1234:80
      - 1235:443
    restart: unless-stopped