version: "2.1"
services:
  radarr:
    image: ghcr.io/linuxserver/radarr
    container_name: radarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/London
    volumes:
      - /home/pi/synced/radarr/config/:/config
      - /media/wd/:/data
    ports:
      - 7878:7878
    restart: unless-stopped
