version: "2.1"
services:
  jackett:
    image: ghcr.io/linuxserver/jackett
    container_name: jackett
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/London
      - AUTO_UPDATE=true
    network_mode: "container:gluetun"
    volumes:
      - /home/pi/synced/jackett/config:/config
      - /media/wd/torrents/blackhole:/downloads
    restart: unless-stopped
