version: "2.1"
services:
  nzbget:
    image: ghcr.io/linuxserver/nzbget
    container_name: nzbget
    environment:
      - PUID=0
      - PGID=0
      - TZ=Europe/London
    volumes:
      - /home/pi/synced/nzbget/config:/config
      - /media/wd/nzbget-downloads:/downloads
    ports:
      - 6789:6789
    restart: unless-stopped
