version: "2.1"
services:
  bazarr:
    image: ghcr.io/linuxserver/bazarr
    container_name: bazarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/London
    volumes:
      - /path/to/bazarr/config:/config
      - /media/hdd/:/media/hdd
      - /media/wd/media/movies:/movies
      - /media/wd/media/tv:/tv
    ports:
      - 6767:6767
    restart: unless-stopped